#vueContainer {
    padding-bottom: 100px;
}

.jumbotron {
    background-image: url("../images/blue-tech.jpg");
    margin-bottom: 0px;
    background-size: cover;
}

#title {
    color: white;
    font-size: 80px;
    font-family: 'Aldrich', sans-serif;
}

#subtitle {
    color: white;
    text-shadow: 2px 2px 5px steelblue;
}

nav {
    background-image: url("../images/trianglify.png");
    margin-bottom: 30px;
}

.searchSubmit {
    color: midnightblue;
    background-color: transparent;
    border: 1px solid midnightblue;
    padding: .375rem .75rem;
    border-radius: .25rem;
}

.searchSubmit:hover {
    background-image: url("../images/button-blue.png");
    color: white;
    border: 1px solid white;
}

.container {
    margin-bottom: 100px;
}

.card {
    margin: 0 auto;
    background-image: url("../images/trianglify.png");
    background-size: cover;
    font-size: 20px;
    width: 80%;
}

.card-header {
    font-family: 'Aldrich', sans-serif;
    font-size: 40px;
    text-shadow: 2px 2px 5px steelblue;
}

h4 {
    text-shadow: 1px 1px 3px steelblue;
}

p {
    margin-bottom: 0px;
}

#searchTerm {
    font-family: 'Aldrich', sans-serif;
    font-size: 50px;
    text-shadow: 2px 2px 5px steelblue;
    text-align: center;
}

#searchResults ul {
    list-style: none;
}

#searchResults li {
    padding-bottom: 5px;
    border-bottom: 2px solid navy;
}

#searchResults li a {
    color: black;
    margin-left: 10px;
}