.modal-header {
    background-image: url("../images/blue-tech-opaque.jpg");
    font-family: 'Aldrich', sans-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
    border-bottom: 1px solid black;
}

.modal-footer {
    background-image: url("../images/blue-tech-opaque.jpg");
    border-top: 1px solid black;
}

#modal-button {
    padding: .375rem .75rem;
    border-radius: .25rem;
    font-family: 'Aldrich', sans-serif;
    background-color: white;
    color: steelblue;
    text-shadow: 1px 1px 2px navy;
    border: 1px solid navy;
}

#signIn, #signUp {
    margin-top: 10px;
}

#vueContainer {
    padding-bottom: 100px;
}

.jumbotron {
    background-image: url("../images/blue-tech.jpg");
    margin-bottom: 100px;
    background-size: cover;
    padding-bottom: 0px;
    overflow: auto;
}

#title {
    color: white;
    font-size: 80px;
    font-family: 'Aldrich', sans-serif;
}

#subtitle {
    display: inline-block;
    color: white;
    text-shadow: 2px 2px 5px steelblue;
}

#loginButton {
    display: inline-block;
    margin-left: 10px;
    padding: 20px 10px;;
    border-radius: 50%;
    font-family: 'Aldrich', sans-serif;
    color: dodgerblue;
    text-shadow: 1px 1px 2px navy;
    border: 1px solid navy;
}

#loginButton:hover, #logoutButton:hover {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

#logoutButton {
    display: inline-flex;
    margin: 0px 5px 5px 0px;
    padding: 25px 5px;;
    border-radius: 50%;
    font-family: 'Aldrich', sans-serif;
    color: dodgerblue;
    text-shadow: 1px 1px 2px navy;
    border: 1px solid navy;
    float: right;
}

.searchSubmit {
    color: midnightblue;
    background-color: transparent;
    border: 1px solid midnightblue;
    padding: .375rem .75rem;
    border-radius: .25rem;
}

.searchSubmit:hover {
    background-image: url("../images/button-blue.png");
    color: white;
    border: 1px solid white;
}

#jobSearchSubmit {
    color: midnightblue;
    background-color: transparent;
    border: 1px solid midnightblue;
    border-radius: .25rem;
    margin-bottom: 15px;
}

#jobSearchSubmit:hover {
    background-image: url("../images/button-blue.png");
    color: white;
    border: 1px solid white;
}

.gridWrapper {
    justify-content: center;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
    grid-gap: 25px;
}
 
/* Icons courtesy of: https://www.iconfinder.com/Bres */
.grid-item {
    background-image: url("../images/trianglify.png");
    display: inline-flex;
    box-shadow: 5px 10px 8px steelblue;
    font-family: 'Aldrich', sans-serif;
    font-size: 40px;
    color: midnightblue;
    border: 1px solid navy;
    padding-right: 10px;
}

.grid-item:hover {
    box-shadow: 5px 10px 18px dodgerblue;
}

.grid-item p {
    align-self: center;
    margin-left: auto;
}

.container {
    margin-bottom: 100px;
}

.card {
    margin: 0 auto;
    background-image: url("../images/trianglify.png");
    background-size: cover;
    font-size: 20px;
    width: 80%;
}

.card-header {
    font-family: 'Aldrich', sans-serif;
    font-size: 40px;
    text-shadow: 2px 2px 5px steelblue;
    text-align: center;
}

#backButton, #homeButton {
    float: left;
    color: black;
}

#notebookNameTextField {
    width: 70%;
}

h4 {
    text-shadow: 1px 1px 3px steelblue;
}

p {
    margin-bottom: 0px;
}

.input-group-prepend, .col {
    margin-bottom: 15px;
}

#addNotebookLabel {
    font-family: 'Aldrich', sans-serif;
    text-shadow: 2px 2px 5px steelblue;
    font-size: 20px;
}

.savingTo {
    font-family: 'Aldrich', sans-serif;
    font-size: 40px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px steelblue;
}

#searchResults ul {
    list-style: none;
}

#notebookCard ul {
    list-style: none;
}

#notebookCard li {
    margin-bottom: 10px;
    border-bottom: 1px solid navy;
}

.notebookIcon {
    width: 60px;
    height: 60px;
}

.clearfix {
    overflow: auto;
}

.deleteNotebookButton, .deleteContentButton {
    float: right;
    overflow: auto;
    color: midnightblue;
    opacity: 0.5;
    border: 1px solid midnightblue;
    padding: .375rem .75rem;
    border-radius: .25rem;
    margin-top: 10px;
}

.deleteNotebookButton:hover, .deleteContentButton:hover {
    background-image: url("../images/button-blue.png");
    color: white;
    border: 1px solid white;
    opacity: 1.0;
}

#searchResults li, #notebookCard li {
    padding-bottom: 5px;
    border-bottom: 2px solid navy;
}

#searchResults li a, #notebookCard li a {
    color: black;
    margin-left: 10px;
}

.jobTitle, .articleTitle {
    font-family: 'Aldrich', sans-serif;
    text-shadow: 2px 2px 5px dodgerblue;
    font-size: 25px;
    margin-top: 25px;
}

.saveResultButton {
    float: right;
    color: midnightblue;
    opacity: 0.5;
    border: 1px solid midnightblue;
    padding: .375rem .75rem;
    border-radius: .25rem;
    margin-top: 10px;
}

.saveResultButton:hover {
    background-image: url("../images/button-blue.png");
    opacity: 1;
    color: white;
    border: 1px solid white;
}

.contentSectionTitle {
    font-family: 'Aldrich', sans-serif;
    text-shadow: 2px 2px 5px dodgerblue;
    font-size: 25px;
    margin-top: 25px;
}