.modal-header {
    background-image: url("../images/blue-tech-opaque.jpg");
    font-family: 'Aldrich', sans-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
    border-bottom: 1px solid black;
}

.modal-footer {
    background-image: url("../images/blue-tech-opaque.jpg");
    border-top: 1px solid black;
}

#modal-button {
    padding: .375rem .75rem;
    border-radius: .25rem;
    font-family: 'Aldrich', sans-serif;
    background-color: white;
    color: steelblue;
    text-shadow: 1px 1px 2px navy;
    border: 1px solid navy;
}

#signIn, #signUp {
    margin-top: 10px;
}

#vueContainer {
    padding-bottom: 100px;
}

.jumbotron {
    background-image: url("../images/blue-tech.jpg");
    margin-bottom: 100px;
    background-size: cover;
}

#title {
    color: white;
    font-size: 80px;
    font-family: 'Aldrich', sans-serif;
}

#subtitle {
    display: inline-block;
    color: white;
    text-shadow: 2px 2px 5px steelblue;
}

#loginButton {
    display: inline-block;
    margin-left: 10px;
    padding: .375rem .75rem;
    border-radius: .25rem;
    font-family: 'Aldrich', sans-serif;
    color: steelblue;
    text-shadow: 1px 1px 2px navy;
    border: 1px solid navy;
}

#loginButton:hover {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

nav {
    background-image: url("../images/trianglify.png");
    margin-bottom: 30px;
}

.searchSubmit {
    color: midnightblue;
    background-color: transparent;
    border: 1px solid midnightblue;
    padding: .375rem .75rem;
    border-radius: .25rem;
}

.searchSubmit:hover {
    background-image: url("../images/button-blue.png");
    color: white;
    border: 1px solid white;
}

.gridWrapper {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
    grid-gap: 25px;
}
 
.grid-item {
    background-image: url("../images/trianglify.png");
    display: inline-flex;
}

.container {
    margin-bottom: 100px;
}

.card {
    margin: 0 auto;
    background-image: url("../images/trianglify.png");
    background-size: cover;
    font-size: 20px;
    width: 80%;
}

.card-header {
    font-family: 'Aldrich', sans-serif;
    font-size: 40px;
    text-shadow: 2px 2px 5px steelblue;
    text-align: center;
}

#backButton {
    float: left;
}

h4 {
    text-shadow: 1px 1px 3px steelblue;
}

p {
    margin-bottom: 0px;
}

#cardHeader {
    
}

#searchResults ul {
    list-style: none;
}

#searchResults li {
    padding-bottom: 5px;
    border-bottom: 2px solid navy;
}

#searchResults li a {
    color: black;
    margin-left: 10px;
}

.saveResultButton {
    float: right;
    color: midnightblue;
    opacity: 0.5;
    border: 1px solid midnightblue;
    padding: .375rem .75rem;
    border-radius: .25rem;
    margin-top: 10px;
}

.saveResultButton:hover {
    background-image: url("../images/button-blue.png");
    opacity: 1;
    color: white;
    border: 1px solid white;
}